@keyframes whiteToGray {
  from {
    background-color: none;
  }
  to {
    background-color: #efefef;
    color: #000;
  }
}

@keyframes grayToBlue {
  from {
    background-color: #efefef;
  }
  to {
    background-color: #000;
    color: #fff;
  }
}

*{
  box-sizing: border-box;
}
.htmlViewer {
  background-color: #fff;
  border: 0.1px solid #bababa;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow:hidden;
  display:grid;
  grid-template-rows: 1fr 90fr
}

.htmlViewer .content {
  padding: 0;
  display:inline-block;
  height:100%;
  width:100%;
  overflow: auto;
}

.htmlViewer .content > * {
  margin: 0;
  padding: 1rem;
  overflow-y: auto;
  display:inline-block;
}

.htmlViewer .togglerContainer {
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  border: 0.1px solid #bababa;
  padding: 0.5rem;
  border-radius: 0.25rem;
  justify-content: flex-end;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  flex: 1;
}

.toggler {
  border-radius: 0.25rem;
  display: flex;
  width: fit-content;
}

.label {
  font-size: 1.2rem;
  outline: none;
  border: none;
  background: none;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0.2rem;
  padding: 0.2rem 0.5rem;
}

.label:hover {
  animation-name: whiteToGray;
  animation-direction: alternate;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}


.contentContainer {
  position:relative;
  margin-top: .5rem;
  overflow:hidden;
  display:block;
}

.contentContainer.grid{
  display:grid;
    grid-template-columns: 49% 1% 49%;
  grid-template-rows: 1fr;
  gap:.25rem;
}

.contentContainer.block{
    display:block;
  }
  
.dragbar {
  background: #ababab;
  cursor: col-resize;
  height: 100%;
  align-self: center;
  justify-self: center;
  cursor: col-resize;
  width:5px;
  font-size: x-large;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 540px) {
  .togglerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content{
    width:100%;
  }
  .title {
    text-align: center;
  }
}

@media (max-width: 720px) {
  .htmlViewer .content{
    width:100%;
    display:block;
  }

  .contentContainer.grid{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 49% 2% 49%;
    grid-template-columns: 1fr;
  }
    .contentContainer.block{
    display:block;
  }
  
.dragbar {
  background: #ababab;
  cursor: col-resize;
  width: 100%;
  align-self: center;
  justify-self: center;
  cursor: col-resize;
    flex-direction:row;
    line-height: 1px;
  font-size: x-large;
  display:flex;
  align-items: center;
  justify-content: center;
}
}

::-webkit-scrollbar {
  width: .8rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1rem 1rem #ababab;
  border-left: solid 0.2rem transparent;
  border-right: solid 0.2rem transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 1rem 1rem rgb(89, 90, 95);
  border-left: solid 0.2rem transparent;
  border-right: solid 0.2rem transparent;
}
